# Java related
target/**
*.jar
*.class

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
local.properties
.classpath
.settings/
.loadpath

### Gradle ###
//.gradle
/build/